<footer>
    <p>
      Made by Ralf Zonneveld © 2021 - All rights reserved |
      <a href="https://github.com/ralfz123/CATCH-YOUR-LAUGH" target="_blank"
        >GitHub link</a
      >
    </p>
    <p>
      Used APIs:
      <a href="https://thecatapi.com/" target="_blank">Cat images</a> &
      <a href="https://github.com/15Dkatz/official_joke_api" target="_blank"
        >Jokes</a
      >
    </p>
  </footer>