<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') %>
    <title>Home</title>
  </head>

  <body>
    <header>
      <h1>Hallo!</h1>
    </header>

    <main><p>main</p></main>

    <footer><p>footer</p></footer>
  </body>
</html>
