/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f7;
  --font-headers: 'Quicksand', sans-serif;
  --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-headers);
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */
body {
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

header {
  margin: 0 auto;
  text-align: center;
  margin: 1em 0;
}

header h1 {
  font-weight: 100;
}

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

/* --/* --  Default button styling --/* -- */

main button {
  margin: 0;
  text-decoration: none;
  border: none;
  font-family: var(--font-body);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.1s;
  text-align: center;
}

main button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

main button:focus {
  outline: none;
}

/* --/* --  Default <a> styling --/* -- */

main a {
  border-radius: 10px;
  background: #2c28bb;
  color: white;
  font-weight: 500;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border: 1px solid transparent;
  text-transform: uppercase;
}

main a:hover {
  color: #2c28bb;
  background: white;
  border: 1px solid #2c28bb;
}

main section {
  /* display: none; */
  position: relative;
  width: 50vw;
}

/* main section.active {
  display: block;
} */

/* ------ HOME ------- */

main section#combo-generator {
  margin: 0 auto;
  position: relative;
  justify-items: center;
}

main section#combo-generator form:nth-child(1) {
  display: grid;
  grid-template-areas:
    'cats   jokes'
    'button   button'
    'like   like';

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(15vh, auto);
  grid-gap: 5px;
}

main section#combo-generator form:nth-child(2) {
  display: block;
  height: 0;
  position: absolute;
  z-index: 4;
  width: 20em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ------ CATS ------- */

#cat-images {
  grid-area: cats;
  text-align: center;
  height: 35vh;
  animation: fadeInCat 1s 0s ease-in;
}

@keyframes fadeInCat {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.2) translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: scale(1.1) translateX(-5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
}

#cat-images img {
  width: 100%;
  height: 35vh;
  border-radius: 5px;
}

#cat-images img[alt] {
  color: transparent;
}

/* ------ JOKES ------- */

#jokes {
  grid-area: jokes;
  padding: 10px;
  border: 3px dashed rgb(178, 178, 178);
  border-radius: 5px;
  font-family: var(--font-body);
  width: 100%;
  height: 100%;
  animation: fadeInJoke 1s 0s ease-in;
}

@keyframes fadeInJoke {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.2) translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: scale(1.1) translateX(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
}

#jokes input {
  margin: 0;
}

#jokes #joke {
  font-weight: normal;
  display: block;
  margin-bottom: 15px;
}

#jokes #punchline {
  font-weight: 700;
  display: block;
  font-style: italic;
}

/* ------ FAVOURITES LIST ------- */

#like-area {
  grid-area: like;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

#like-area h2 {
  margin: 0;
  transition: 0.2s;
}

#like-area a {
  display: block;
  padding: 8px 2px;
  transition: background-color 0.1s;
  width: 12em;
  margin: 0 auto;
}

#like-area #likeBtn {
  font-size: 4rem;
  width: 3em;
  height: 1.6em;
  margin: 10px;
  padding: 0;
  background: none;
  border: 2px solid crimson;
  transition: 0.1s;
  animation: glow 10000ms infinite;
  background-image: linear-gradient(
    to right,
    #70e1f5 0%,
    #ffd194 51%,
    #70e1f5 100%
  );
  background-size: 200% auto;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 -5px #b7050594;
  }
  40% {
    box-shadow: 0 0 20px #b7050594;
  }
  60% {
    box-shadow: 0 0 20px #b7050594;
  }
  100% {
    box-shadow: 0 0 -5px #b7050594;
  }
}

#like-area #likeBtn:hover {
  transform: translateY(-5px);
  animation: none;
  background-position: right center;
}

#like-area #likeBtn:active {
  transform: translateY(5px);
}

#like-area #likeBtn:focus {
  outline: 0;
}

#like-area #likeBtn:disabled {
  opacity: 0.3;
}

#like-area #likeBtn:disabled:hover {
  cursor: not-allowed;
  transform: none;
  background-position: left center;
}

.feedback-like {
  grid-area: cats;
  position: absolute;
  z-index: 5;
  font-size: 16rem;
  width: 2em;
  top: 0.5em;
  left: 0.5em;
  margin: 0 auto;
  background: #828282;
  animation: fadeOut 1.5s ease-in-out;
  border-radius: 48px;
  box-shadow: 0 0 20px 4px #0c0a0a;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* ------ Another combo button ------- */

#comboBtn {
  /* grid-area: button; */
  justify-self: center;
  align-self: center;
  padding: 8px 10px;
  font-size: 1.6rem;
  box-shadow: 0px 0px 9px 3px #544f4f94;
  transition: 0.2s;
  background-image: linear-gradient(
    to right,
    #70e1f5 0%,
    #ffd194 51%,
    #70e1f5 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 10px rgb(122, 122, 122);
  text-transform: uppercase;
  color: #006979;
  opacity: 0.8;
  margin-top: 38vh;
}

#comboBtn:hover {
  background-position: right center;
  opacity: 1;
  color: #001215;
  box-shadow: 0 0 20px #70e1f5;
}

#comboBtn:active {
  transform: scale(0.9);
}

#comboBtn:disabled {
  opacity: 0.3;
}

#comboBtn:disabled:hover {
  cursor: not-allowed;
  transform: none;
  background-position: left center;
  box-shadow: 0 0 10px rgb(122, 122, 122);
  color: #006979;
}

/* ------- FAVOURITES ------- */

#favourites {
  margin: 0 auto;
  position: relative;
  visibility: visible;
  text-align: center;
  border-radius: 10px;
}

#favourites > a {
  position: absolute;
  left: 10px;
  top: 5px;
}

#favourites .deleteAllBtn {
  width: 146px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 8px 2px;
  display: block;
  background-color: #a00808;
}

#favourites .deleteAllBtn:hover {
  background-color: #820202;
}

#favourites ol {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
}

.emptyStateShow {
  visibility: visible;
}

.emptyStateHide {
  visibility: hidden;
}

#favourites ol li {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 100px auto;
  align-items: center;
  transition: background 0.1s;
  padding: 8px;
}

#favourites ol li:nth-child(even) {
  background: #e6e6e6;
}

#favourites ol li:hover {
  background: rgba(169, 169, 169, 0.065);
  background: rgba(0, 80, 239, 0.156);
}

#favourites ol li img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#favourites ol li p {
  justify-self: left;
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
}

#favourites ol li p:nth-child(2) {
  font-weight: bold;
  margin-top: 10px;
}

#favourites ol li div:nth-child(3) {
  margin: 0 auto;
  align-items: flex-end;
}

#favourites ol li form button.deleteBtn,
#favourites ol li a.checkBtn {
  margin: 17px 0px;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.1s;
  border: none;
}

#favourites ol li .deleteBtn {
  background-image: url('/assets/app-icons/trash.svg');
}

#favourites ol li a.checkBtn {
  background-image: url('/assets/app-icons/info.svg');
}

#favourites ol li .deleteBtn:hover {
  box-shadow: 0 0 3px 1px #dc1010;
  transform: none;
}

#favourites ol li .checkBtn:hover {
  box-shadow: 0 0 3px 1px #08943a;
  transform: none;
}

#favourites ol li .checkBtn:focus,
#favourites ol li .deleteBtn:focus {
  transform: none;
}

/* ------- FAVOURITE ITEM (DETAIL PAGE) ------- */

#fav-item {
  position: relative;
  margin: 0 auto;
  height: 73vh;
  text-align: center;
  border-radius: 10px;
}

#fav-item a {
  position: absolute;
  left: 10px;
  top: 5px;
}

#fav-item img {
  width: 200px;
  max-height: 450px;
  border-radius: 10px;
  margin-top: 10px;
  animation: bounceImage 0.5s 0s ease-in;
}

@keyframes bounceImage {
  0% {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(6px);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

#fav-item div {
  font-family: var(--font-body);
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

#fav-item div p:first-child {
  padding: 10px 58px;
  margin: 1em 0;
  line-height: 1.5em;
  font-weight: normal;
  background: #eaeaea;
  animation: popUpJoke 0.3s 0s ease-in;
}

@keyframes popUpJoke {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50em);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

#fav-item div p:nth-child(2) {
  padding: 10px 58px;
  font-style: italic;
  font-weight: bold;
  background: #dadada;
  animation: popUpPunchline 0.5s 0s ease-in;
}

@keyframes popUpPunchline {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50em);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */
footer {
  position: fixed;
  font-size: 0.7rem;
  padding: 0;
  height: 40px;
  padding: 3px 0px;
  background-color: #767c7f0d;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer p {
  margin: 3px 0px;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover {
  color: rgb(34, 34, 147);
}

/* ------------------------------------------- */
/*                   404                       */
/* ------------------------------------------- */

main section#error {
  position: relative;
  margin: 0 auto;
  height: 73vh;
  text-align: center;
  border-radius: 10px;
}

main section#error h1 {
  font-size: 4rem;
}

main section#error h3 a {
  border-radius: 0;
  background: none;
  color: black;
  font-weight: 100;
  padding: 0;
  text-decoration: none;
  border: none;
  text-transform: none;
  transition: 0.1s;
}

main section#error a:hover,
main section#error a:focus {
  color: #2c28bb;
  text-decoration: underline;
}

main section#error > h3 {
  margin-top: 1em;
}

main section#error > p {
  margin-top: 2em;
}

main section#error ol {
  width: 20em;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

main section#error li {
  position: relative;
  width: 10em;
  padding: 0px;
  display: block;
  margin: 0.1em auto;
  transition: 0.1s;
}

main section#error li:hover {
  background: #ececec;
  border-radius: 5px;
}

main section#error li:hover a {
  font-weight: 700;
}

main section#error li:hover a:before {
  content: '→';
  display: inline;
  position: absolute;
  z-index: 6;
  left: 0;
}

main section#error li a {
  border-radius: 0;
  background: none;
  color: black;
  font-weight: 100;
  padding: 0.3em 3em;
  display: block;
  text-decoration: none;
  border: none;
  text-transform: none;
  transition: 0.1s;
}

main section#error h2 {
  filter: drop-shadow(0 0 3px black);
  /* box-shadow: 0 -10px 10px black; */
  animation: move 1.5s ease-in-out alternate infinite;
  font-size: 4rem;
  /* margin-top: 1em; */

  /* filter: drop-shadow(0 0 10px black);
  animation: move 1.5s ease-in-out alternate infinite;
  font-size: 7rem;
  margin-top: 1em;
  position: absolute;
  z-index: 8;
  top: 0;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

@keyframes move {
  /* 0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  } */

  0% {
    transform: translateX(-5px) rotate(-20deg);
  }
  100% {
    transform: translateX(5px) rotate(20deg);
  }
}

/* --/* ----- LOADER ---/* - */

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 21em;
}

.loader:after {
  content: ' ';
  display: block;
  width: 5em;
  height: 5em;
  margin: 8px;
  border-radius: 50%;
  border: 20px solid #7b78f7;
  border-color: #7b78f7 transparent #7b78f7 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

/* --/* ----- SCROLLBAR ---/* - */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2d28bb91;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c28bb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c28bb;
}

@media all and (max-width: 50em) {
  main section {
    width: 90vw;
  }
}
